.header {
      width: 100%;
      height: 40.625rem;
      background: url(../images/mobile/image-hero.jpg) no-repeat;
      background-size: cover;
      padding: 5%;
      display: flex;
      flex-direction: column;
      position: relative;

      &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($--clr-black, 0.3);
      }

      @include responsive("tablet") {
            background: url(../images/desktop/image-hero.jpg) no-repeat;
            padding: 2.5rem 3.375rem 0;
      }

      @include responsive("laptop") {
            padding: 3.9375rem 15% 0;
            background-size: cover;
      }

      .menu_item {
            font-size: 1.25rem;
            text-decoration: none;
            text-transform: capitalize;
            color: $--clr-white;
            transition: 250ms ease-in-out;
            position: relative;
            display: block;

            &::after {
                  background-color: $--clr-white;
            }
      }

      &__navbar {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            z-index: 20;
            margin-top: 1rem;

            &.show {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  min-height: 100vh;
                  margin: 0;
                  background: $--clr-black;
                  display: flex;
                  flex-flow: column nowrap;
                  justify-content: unset;

                  .header__navbar_nav {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        padding: 5%;
                        margin-top: 1rem;

                        .header__navbar_buttons {
                              .header__navbar_button {
                                    &.visible {
                                          opacity: 0;
                                          visibility: hidden;
                                    }

                                    &.hidden {
                                          opacity: 1;
                                          visibility: visible;
                                    }
                              }
                        }
                  }

                  .header__navbar_list {
                        display: flex;
                        flex-direction: column;
                        align-self: flex-start;
                        margin-left: 5%;
                        margin-top: auto;
                        margin-bottom: auto;
                        transition: all 250ms ease-in-out;

                        a {
                              font-family: "Josefin Sans", sans-serif;
                              font-size: 1.5625rem;
                              text-transform: uppercase;
                              color: $--clr-white;
                              width: max-content;

                              &:after {
                                    background-color: $--clr-dk_Gray;
                              }

                              &:hover,
                              &:focus {
                                    color: $--clr-dk_Gray;
                                    margin-left: 0.5rem;
                              }
                        }

                        a:not(:last-of-type) {
                              margin-bottom: 2rem;
                        }
                  }
            }

            .header__navbar_nav {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;

                  .header__navbar_logo {
                        flex-basis: 9.375rem;

                        @include responsive("tablet") {
                              flex-basis: 12.5rem;
                        }

                        img {
                              width: 100%;
                        }
                  }

                  .header__navbar_buttons {
                        position: relative;
                        width: 1.5625rem;
                        height: 1.25rem;

                        @include responsive("tablet") {
                              display: none;
                        }

                        .header__navbar_button {
                              position: absolute;
                              top: 0;
                              left: 0;
                              width: 100%;
                              height: 100%;
                              border: none;
                              background: transparent;
                              cursor: pointer;

                              &.hidden {
                                    opacity: 0;
                                    visibility: hidden;
                              }

                              &.visible {
                                    opacity: 1;
                                    visibility: visible;
                              }
                        }
                  }
            }

            .header__navbar_list {
                  display: none;

                  @include responsive("tablet") {
                        display: flex;
                  }

                  .menu_item {
                        @include responsive("tablet") {
                              font-size: 1rem;
                        }
                  }

                  a:not(:last-of-type) {
                        @include responsive("tablet") {
                              margin-right: 1rem;
                        }

                        @include responsive("laptop") {
                              margin-right: 2rem;
                        }
                  }
            }
      }

      &__title {
            border: 2px solid $--clr-white;
            margin-top: auto;
            margin-bottom: auto;
            max-width: 25rem;
            z-index: 15;

            @include responsive("laptop") {
                  max-width: 40.875rem;
            }

            h1 {
                  font-size: 2.25rem;
                  font-weight: 400;
                  text-transform: uppercase;
                  color: $--clr-white;
                  padding: 1.875rem;

                  @include responsive("tablet") {
                        font-size: 3rem;
                  }

                  @include responsive("laptop") {
                        font-size: 4.25rem;
                        padding: 2.5rem 3rem;
                  }
            }
      }
}
