*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Josefin Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

p {
  font-size: 0.9375rem;
}

a {
  font-family: "Alata", sans-serif;
}

.header {
  width: 100%;
  height: 40.625rem;
  background: url(../images/mobile/image-hero.jpg) no-repeat;
  background-size: cover;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 48em) {
  .header {
    background: url(../images/desktop/image-hero.jpg) no-repeat;
    padding: 2.5rem 3.375rem 0;
  }
}

@media only screen and (min-width: 62.5em) {
  .header {
    padding: 3.9375rem 15% 0;
    background-size: cover;
  }
}

.header .menu_item {
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  position: relative;
  display: block;
}

.header .menu_item::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -0.25rem;
  left: 25%;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header .menu_item:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  margin-top: 1rem;
}

.header__navbar_logo {
  -ms-flex-preferred-size: 9.375rem;
      flex-basis: 9.375rem;
}

@media only screen and (min-width: 48em) {
  .header__navbar_logo {
    -ms-flex-preferred-size: 12.5rem;
        flex-basis: 12.5rem;
  }
}

.header__navbar_logo img {
  width: 100%;
}

.header__navbar_list {
  display: none;
}

@media only screen and (min-width: 48em) {
  .header__navbar_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 48em) {
  .header__navbar_list .menu_item {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 48em) {
  .header__navbar_list a:not(:last-of-type) {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 62.5em) {
  .header__navbar_list a:not(:last-of-type) {
    margin-right: 2rem;
  }
}

.header__navbar .header__menu {
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  min-height: 100vh;
  background: black;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header__navbar .header__menu.show {
  left: 0;
  opacity: 1;
}

.header__navbar .header__menu.show .menu_list .menu_item {
  visibility: visible;
}

.header__navbar .header__menu.show .mobile-menu .close-btn {
  visibility: visible;
}

.header__navbar .header__menu .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.header__navbar .header__menu .mobile-menu .mobile-logo {
  width: 9.375rem;
}

.header__navbar .header__menu .mobile-menu .close-btn {
  visibility: hidden;
}

.header__navbar .header__menu .menu_list {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (min-width: 48em) {
  .header__navbar .header__menu .menu_list {
    display: none;
  }
}

.header__navbar .header__menu .menu_list .menu_item {
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  visibility: hidden;
}

.header__navbar .header__menu .menu_list .menu_item:hover {
  margin-left: 0.625rem;
  color: #8c8c8c;
}

.header__navbar .header__menu .menu_list .menu_item::after {
  background-color: #8c8c8c;
}

.header__navbar .header__menu .menu_list a:not(:last-of-type) {
  margin-bottom: 1.875rem;
}

@media only screen and (min-width: 48em) {
  .header__navbar_hamburger {
    display: none;
  }
}

.header__title {
  border: 2px solid white;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 25rem;
  z-index: 15;
}

@media only screen and (min-width: 62.5em) {
  .header__title {
    max-width: 40.875rem;
  }
}

.header__title h1 {
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  padding: 1.875rem;
}

@media only screen and (min-width: 48em) {
  .header__title h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 62.5em) {
  .header__title h1 {
    font-size: 4.25rem;
    padding: 2.5rem 3rem;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
  padding: 0 5%;
  position: relative;
}

@media only screen and (min-width: 62.5em) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 15%;
  }
}

.main__hero {
  background: url(../images/mobile/image-interactive.jpg) center no-repeat;
  background-size: contain;
  height: 14.0625rem;
}

@media only screen and (min-width: 48em) {
  .main__hero {
    height: 21.875rem;
  }
}

@media only screen and (min-width: 62.5em) {
  .main__hero {
    height: 31.25rem;
    -ms-flex-preferred-size: 45.625rem;
        flex-basis: 45.625rem;
  }
}

.main__info {
  text-align: center;
  margin-top: 1.5625rem;
  max-width: 34.375rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 62.5em) {
  .main__info {
    background: white;
    position: absolute;
    bottom: -1px;
    right: -1px;
    padding: 6.25rem 0 0 6.25rem;
    text-align: left;
    margin-right: 15%;
    margin-top: 0;
  }
}

.main__info_title, .creations__title {
  font-size: 1.875rem;
  font-weight: normal;
  text-transform: uppercase;
  color: black;
  padding: 1rem;
}

@media only screen and (min-width: 62.5em) {
  .main__info_title, .creations__title {
    font-size: 2.875rem;
    padding: 0;
  }
}

.main__info_description {
  font-family: "Alata", sans-serif;
  line-height: 1.7;
  margin-top: 1.1875rem;
  color: #8c8c8c;
  padding: 1rem;
}

@media only screen and (min-width: 62.5em) {
  .main__info_description {
    padding: 0;
  }
}

.creations {
  padding: 0 5%;
  text-align: center;
  margin: auto;
  margin-top: 6rem;
}

@media only screen and (min-width: 62.5em) {
  .creations {
    padding: 0 15%;
    display: -ms-grid;
    display: grid;
    margin-top: 8rem;
  }
}

.creations__title {
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 62.5em) {
  .creations__title {
    margin-right: auto;
    margin-bottom: 5.625rem;
  }
}

.creations__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.5625rem;
}

@media only screen and (min-width: 37.5em) {
  .creations__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 62.5em) {
  .creations__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media only screen and (min-width: 75em) {
  .creations__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.creations__container_item {
  width: 100%;
  height: 30vw;
  position: relative;
  text-align: left;
}

.creations__container_item:hover {
  cursor: pointer;
}

.creations__container_item:hover h3 {
  color: black;
}

.creations__container_item:hover::after {
  opacity: 1;
}

.creations__container_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item::before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    top: 50%;
    right: 0;
  }
}

.creations__container_item h3 {
  font-size: 1.5625rem;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  z-index: 50;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item h3 {
    font-size: 1.875rem;
    bottom: 2.25rem;
    left: 2.25rem;
  }
}

@media only screen and (min-width: 75em) {
  .creations__container_item h3 {
    bottom: 1.75rem;
    left: 1.75rem;
  }
}

.creations__container_item.earth {
  background: url(../images/mobile/image-deep-earth.jpg) center no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item.earth {
    background: url(../images/desktop/image-deep-earth.jpg) no-repeat;
    background-size: cover;
  }
}

.creations__container_item.arcade {
  background: url(../images/mobile/image-night-arcade.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item.arcade {
    background: url(../images/desktop/image-night-arcade.jpg) no-repeat;
    background-size: cover;
  }
}

.creations__container_item.soccer {
  background: url(../images/mobile/image-soccer-team.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item.soccer {
    background: url(../images/desktop/image-soccer-team.jpg) no-repeat;
    background-size: cover;
  }
}

.creations__container_item.grid {
  background: url(../images/mobile/image-grid.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item.grid {
    background: url(../images/desktop/image-grid.jpg) no-repeat;
    background-size: cover;
  }
}

.creations__container_item.vr {
  background: url(../images/mobile/image-from-above.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item.vr {
    background: url(../images/desktop/image-from-above.jpg) no-repeat;
    background-size: cover;
  }
}

.creations__container_item.borealis {
  background: url(../images/mobile/image-pocket-borealis.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item.borealis {
    background: url(../images/desktop/image-pocket-borealis.jpg) no-repeat;
    background-size: cover;
  }
}

.creations__container_item.curiosity {
  background: url(../images/mobile/image-curiosity.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item.curiosity {
    background: url(../images/desktop/image-curiosity.jpg) no-repeat;
    background-size: cover;
  }
}

.creations__container_item.fisheye {
  background: url(../images/mobile/image-fisheye.jpg) no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 62.5em) {
  .creations__container_item.fisheye {
    background: url(../images/desktop/image-fisheye.jpg) no-repeat;
    background-size: cover;
  }
}

.creations-btn {
  font-size: 0.8125rem;
  font-weight: bold;
  font-family: "Alata", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 0.75rem 2.8125rem;
  display: inline-block;
  margin-top: 2.1875rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.creations-btn:hover {
  color: white;
  background: black;
}

@media only screen and (min-width: 62.5em) {
  .creations-btn {
    margin-left: auto;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: start;
  }
}

.footer {
  margin: auto;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: white;
  padding: 3.5rem 5%;
}

@media only screen and (min-width: 62.5em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 3.5rem 15%;
  }
}

.footer .wrapper {
  text-align: center;
}

.footer__logo {
  width: 9.375rem;
  margin: auto;
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 62.5em) {
  .footer__logo {
    width: 12.5rem;
    margin: 0;
    margin-bottom: 2.1875rem;
  }
}

.footer__logo img {
  width: 100%;
}

.footer__list {
  list-style-type: none;
}

.footer__list a {
  color: white;
  text-decoration: none;
  position: relative;
}

.footer__list a::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  bottom: -0.25rem;
  left: 25%;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer__list a:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer__list li:not(:last-of-type) {
  margin-bottom: 1.875rem;
}

@media only screen and (min-width: 48em) {
  .footer__list li:not(:last-of-type) {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 75em) {
  .footer__list li:not(:last-of-type) {
    margin-right: 2.5rem;
  }
}

@media only screen and (min-width: 48em) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__social_icons {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 62.5em) {
  .footer__social_icons {
    margin: 0;
    margin-bottom: 2.1875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.footer__social_icons i {
  font-size: 1.5625rem;
  position: relative;
}

@media only screen and (min-width: 62.5em) {
  .footer__social_icons i {
    font-size: 1.875rem;
  }
}

.footer__social_icons i:hover {
  cursor: pointer;
}

.footer__social_icons i::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: white;
  display: block;
  position: absolute;
  bottom: -0.5rem;
  left: 25%;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer__social_icons i:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer__social_icons i:not(:last-of-type) {
  margin-right: 1rem;
}

.footer p {
  font-family: "Alata", sans-serif;
  color: #8c8c8c;
}
/*# sourceMappingURL=stylesheet.css.map */